.contact {
  display: flex;
  flex-direction: column;
  &__icon {
    width: 24px;
    height: 24px;

    &--linkedin {
      transform: scale(100%, 94%);
    }

    &--email {
      transform: scale(100%, 120%);
    }

    &:hover{
      width: 26px;
      height: 26px;
      transition: width 0.2s ease, height 0.2s ease;
    }
  }

  &__icon-label {
    margin-left: 8px;
    font-size: 14px;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: var(--primary-color);
    }
  }
}