.contact {
  display: flex;
  flex-direction: column;

  &__link {
    width: fit-content;
    color: unset;
    text-decoration: unset;
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 24px;
    height: 24px;

    &--linkedin {
      transform: scale(100%, 94%);
    }

    &--email {
      transform: scale(100%, 120%);
    }
  }

  &__icon-label {
    margin-left: 8px;
    margin-bottom: 0.05rem;
    color: var(--text-color);

    &:hover {
      color: var(--primary-color);
    }
  }
}

.contact__icon--linkedin path {
  fill: var(--bs-body-color);
}

.contact__icon--email path,
.contact__icon--email rect {
  stroke: var(--bs-body-color);
}