.contact {
  display: flex;
  flex-direction: column;
  &__icon {
    width: 24px;
    height: 24px;

    &--linkedin {
      transform: scale(100%, 94%);
    }

    &--email {
      transform: scale(100%, 120%);
    }

    &:hover{
      width: 26px;
      height: 26px;
      transition: width 0.2s ease, height 0.2s ease;
    }
  }
}