.title {
	margin-bottom: 2.5rem;
}

.intro-description {
	// margin-bottom: 0.4rem;
	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn 0.5s ease forwards;

	&__down {
		@extend .fade-in;
		transform: translateY(-10px);
	}

	&__right {
		@extend .fade-in;
		transform: translateX(-10px);
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}
